{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_formatting.css') }}">
<div class="pagecontainer">
	<img src="{{ url_for('static', filename='images/about_bg.png') }}" class="bg">
	<div class="animsition">
		<div class="left-logo">
			<a href="{{ url_for('homepage') }}">
				<img src="{{ url_for('static', filename='images/left_logo.png') }}" style="height:100px">
			</a>
		</div>
		<div class="right-logo">
			<a href="{{ url_for('homepage') }}">
				<img src="{{ url_for('static', filename='images/right_logo.png') }}" style="height:80px">
			</a>
		</div>
		<div class="text">
			<h1>About Me</h1>
			<br>
			<br>
			<p>
			If someone had told me years ago that I would be on the cover of a magazine, create a mind-controlled quadcopter, help develop a native iOS app for a company, and land an internship at a tech giant all before my senior year of college, I most likely would not have believed them. 
			<br>
			<br>
			Despite having no programming experience prior to college, I have managed to stand out as an honors student in UConn’s Computer Science and Engineering program. I enjoyed inspiring students of all ages such as at UConn's Open House events and the annual Connecticut Invention Conventions. Nowadays I work on developing tools and workflows to ease the hassle of building, testing, and shipping code at Connecticut's first ever unicorn.
			</p>
		</div>
	</div>
</div>
{% endblock %}
