{% extends "layout.html" %}
{% block body %}		
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact_formatting.css') }}">
<div class="pagecontainer">
	<img src="{{ url_for('static', filename='images/contact_bg.png') }}" class="bg">
	<div class="animsition">
		<div class="left-logo">
			<a href="{{ url_for('homepage') }}">
				<img src="{{ url_for('static', filename='images/left_logo.png') }}" style="height:100px">
			</a>
		</div>
		<div class="right-logo">
			<a href="{{ url_for('homepage') }}">
				<img src="{{ url_for('static', filename='images/right_logo.png') }}" style="height:80px">
			</a>
		</div>
		<div class="text">
			<h1>Contact</h1>
		</div>
		<div class="info">
			<div class="email-icon">
				<a href="mailto:ashley.dumaine@uconn.edu" target="_top">
					<img src="{{ url_for('static', filename='images/email.png') }}" style="height:50px">
				</a>
			</div>	
		<p>
			<b>University Email Address</b>
			<br>
			ashley.dumaine@uconn.edu
		</p>
		<br>
		<br>
		<div class="email-icon">
			<a href="mailto:ashley.dumaine@gmail.com" target="_top">
				<img src="{{ url_for('static', filename='images/email.png') }}" style="height:50px">
			</a>
		</div>	
		<p>
			<b>Personal Email Address</b>
			<br>
			ashley.dumaine@gmail.com
		</p>
	</div>
</div>
{% endblock %}
